<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DockerGoogleSelenium">
  <test name="GoogleHomePage">
  	<classes>
  		<class name="TestCase.GoogleHomeTest"/>
  		
  	</classes>
  </test> <!-- Test -->
  
  <test name="GoogleResultPage">
  	<classes>
  		<class name="TestCase.GoogleResultTest"/>
  		
  	</classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
